.head{
    position: relative;
    font-size: 40px;
    
  
}
.left{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    
    /* margin: 10px 10px; */
    width: 50%;
    /* left: 5%; */
   

}
.acalist{
    margin: 10px;
    font-size: 18px;
}
.left img{
    position: relative;
    display: flex;
aspect-ratio: 4/4;
    height: 300px;
    margin:auto;
    margin-top: 60px;
    
    
    
    border-radius: 20px;
    
}

.right{
    position: relative;
    display: flex;
    left: 50px;
    width: 98%;
}
.pc2{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
   
}
.pc1-head{
    margin: auto;
    
    position: relative;
    font-size: 30px;
   
}
.aca{
    position: relative;
    top: 40px;
}

.pc1{
    position:relative;
    
    font-size: 18px;
    width: 90%;
    margin: auto;
    
   
    
}

.pc1-head2{
    position: relative;
    top: 20px;
}

.main{
    position: relative;
    display: flex;
    }


.right{
    position: relative;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    padding: 60px;
}
