    .head{
    position: relative;
    font-size: 40px;
    
  
}
.left{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    
    /* margin: 10px 10px; */
    width: 50%;
    /* left: 5%; */
   

}
.left img{
    position: relative;
    display: flex;
aspect-ratio: 4/4;
    height: 250px;
    margin:auto;
    margin-top: 60px;
    
    
    
    border-radius: 20px;
    
}


.pc2{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
   
}
.pc1-head{
    margin: auto;
    position: relative;
    font-size: 25px;
   
}

.pc1{
    position:relative;
    
    font-size: 18px;
    width: 90%;
    margin: auto;
    
   
    
}


.main{
    position: relative;
    display: flex;
    }


.right{
    position: relative;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    padding: 60px;
}
