    .head{
    position: relative;
    font-size: 40px;
    
  
}
.left{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--yellow);
    padding: 40px;
    /* margin: 10px 10px; */
   
    width: 40%;
    /* left: 5%; */
   

}
.acalist{
    margin: 10px;
    font-size: 18px;
}
.left img{
    position: relative;
    display: flex;

    height: auto;
    width: 300px;
    margin:auto;
    
    
    
    border-radius: 20px;
    
}

.right{
    position: relative;
    display: flex;
    left: 0px;
    width: 100%;
}
.pc2{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
   
}
.pc1-head{
    color:var(--red);
    position: relative;
    font-size: 30px;
    
   
}
.pc1-headmain{
    color:var(--red);
    position: relative;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 2rem;
   
   
}
.aca{
    position: relative;
    margin: auto;

}

.pc1{
    position:relative;
    
    font-size: 18px;
    width: 95%;
    margin: auto;
    
   
    
}

.pc1-head2{
    position: relative;
 
}

.main{
    position: relative;
    display: flex;
    width: 1300px;
    margin: auto;
    }


.right{
    position: relative;
    display: flex;
    gap: 2rem;
    flex-direction: column;
   
}

@media (max-width:600px){
    .head{
        position: relative;
        font-size: 30px;
        
      
    }
    .left{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--yellow);
        
        /* margin: 10px 10px; */
        width: 40%;
        /* left: 5%; */
       
    
    }
    .acalist{
        margin: 0px;
        font-size: 18px;
    }
    .left img{
        position: relative;
        display: flex;
    
        height: 150px;
        margin:auto;
        margin-top: 20px;
        
        
        
        border-radius: 10px;
        
    }
    
    .right{
        padding: 20px;
        position: relative;
        display: flex;
        left: 0px;
        width: 60%;
    }
    .pc2{
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 16px;
       
    }
    .pc1-head{
        margin: auto;
        
        position: relative;
        font-size: 20px;
        color: var(--red);
       
    }
    .aca{
        position: relative;
        top:            0px;
    }
    
    .pc1{
        position:relative;
        
        font-size: 18px;
        width: 100%;
        margin: auto;
        
       
        
    }
    
    .pc1-head2{
        position: relative;
        top: 10px;
    }
    
    .main{
        position: relative;
        display: flex;
        }
    
    
    .right{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .main{
        display: flex;
        padding: 0px;
    }
}