.profile-img{
    display: flex;  
  padding: 20px;
    flex-direction: column  ;
    gap: 5px;
   
    
    

}
.left{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    
    /* margin: 10px 10px; */
    width: 50%;
    /* left: 5%; */
   

}
.left img{
    position: relative;
    display: flex;
aspect-ratio: 4/4;
    height: 250px;
    margin:auto;
    margin-top: 60px;
    
    
    
    border-radius: 20px;
    
}

.pc2{
   
   
    font-size: 18px;
    position: relative;
    width: 100%;
   padding: 10px;
    /* border-radius: 10px;  */

}
.pc2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
   color:black;
   margin: auto;
   
 list-style: none;

}
.fac-links{
    display: flex;
    gap: 20px;
}
.fac-links a{
    color: rgb(42, 41, 41);
    font-size: 24px;
}
.profileimg-name{
    position: relative;
    font-size: var(--content2);
}
.profile-img img{
    height: auto;
    width: 300px;
    border-radius: 10px;
}
.profile-section-1{
   display: flex;   
   gap : 20px;

    /* padding: 20px;    */
}

.head4 {
    display: flex;
    
    margin-bottom: 3rem;
    justify-content:center;
    width: auto;
    font-weight: bolder;
    color: red;
    font-size: var(--head1);
    height: 10rem;
  }
.pc1{
    margin:     0px 0 ;
   
    font-size: 18px;
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 10px; 
    /* left:-50px; */
    
}
.pc3{
    padding:   40px;
    font-size: var(--content2);
    position: relative; 
    width: 100%;
    border-radius: 10px; 
    /* left:-50px; */
    
}
.back-button a  {
    position: relative;
   top:-11px;
    color: red;
}
.pc1 ul{
   
    line-height: 40px;
}
.pc1-head{
    
    display: flex;
    margin: auto;

    /* padding: 20px 0; */
    font-size: var(--content2);
    color: #C44536;
}
.pm-head{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: var(--head2);
    color: #C44536;
}
.profile-main{
  
   
    padding: 30px;
    background: #f8e6cc;
    /* box-shadow: 0px 0px 10px black; */
    /* border: 3rem solid #f8e6cc; */
    border-radius: 10px;
    margin: 0 8rem;
}

@media (max-width:600px){
    .profile-main{
        padding: 1rem;
        /* box-shadow: 3px 3px 10px black; */
        border-radius: 10px;
        /* border: 1rem solid white; */

        margin: 0 1rem;
    }
    .profile-section-1{
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        row-gap: 2rem;
    }
    .profile-img img{
        height: auto;
        width: auto;
        border-radius: 10px;
    }
    .profileimg-name{
        position: relative;
        font-size: 15px;
    }
    .pc1{
        padding: 0 0px;
        font-size: 12px;
        position: relative;
        left:0px;
        text-align: justify;
        width: 100% ;
        
    }
    .pc1 ul{
        line-height: 20px;
   
        list-style:square;
    }
    .pc1-head{
        display: flex;
        justify-content: center;
        text-align: justify;
        font-size: var(--content2);
        color: brown;
    }
    .pm-head{
        margin-top: 0;
        text-align: justify;
        font-size: var(--content2);
        color: brown;
    }
    .back-button a  {
        font-size: 40px;
        position: relative ;
     top: -7px;
        z-index: 8;
        color: red;
    }
    .head4 {
        display: flex;
        justify-content: center;
        margin: 0;
        justify-content:center;
        width: auto;
        font-weight: bolder;
        color: red;
        font-size: var(--head2);
        height: 6rem;
      }
      .pc2{
        
    font-size: var(--content1);
    position: relative;
    width: 100%;
    padding: 0px;
      
}
}