@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-source-sans-pro: "Source Sans Pro";
  --font-oswald: Oswald;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --color-limegreen: #55bb11;
  --color-darkslategray: #333;
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.6);
  --color-royalblue: #4875fe;

  /* Paddings */
  --padding-2xl: 21px;

  /* border radiuses */
  --br-4xl: 23px;
}
