
.ind-section{
    display: flex;
    padding: 0 130px;
    
}
.sub-ind-sec1{
      
    padding: 40px;
    width: 100%;
    margin:3rem 0;
    color: white;
    font-size: var(--content1);
    background-color: #005a9c;

}
.sub-ind-sec2{
      
    padding: 10px;
    width: 30%;
    margin:3rem 0;

}
.sub-ind-sec3{
      
    padding: 10px;
    width: 90%;
    margin:3rem 0;

}
.sub-ind-sec4{
      
    padding: 0px;
    width: 40%;
    

}
.sub-ind-sec5{
      
    padding: 10px;
    width: 50%;
    margin:3rem 0;

}
.sub-ind-sec6{
      
    padding: 10px;
    width: 50%;
    margin:3rem 0;

}
.ind-head{
  font-size: var(--head1);  
  margin: 1rem;
}
.industry-vid{
    width: 400px;
    height: auto;
}