.acadhead{
  display: flex;
  justify-content: center;
  font-size: 7rem;
  padding: rem;
  color: #C44536;
  

}
.acad-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  
  height: 30rem;
}
.acad-image img{
  max-width: 1300px;
  width: 100%;
  height: 30rem;
}
.acad-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acad-content{
  margin: 2rem;
  display: flex;
  flex-direction: column;
 
  width: 80rem;
  
}
.acad-head1{
  color: #C44536;
  font-size: 25px
}
@media(max-width:600px){
  .acad-body{
    display: flex;
  
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .acad-content{
    margin: 2rem;
    display: flex;
    flex-direction: column;
   
    width: 23rem;
    
  }
  .acadhead{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
    color: #C44536;
    
  
  }
  .acad-image img{
    width: 100%;
    height: 15rem;
  }
}