.even{
    color: rgb(203, 18, 18);
    text-align: center;
    
}
.ind-head{
    position: relative;
    justify-content: left;
}
.bold{
    font-weight: bold;
}
.ind-section{
    border-radius: 20px;
}

.res-acc-body {

    justify-content: center;
    position: relative;
}

.sub-ind-sec1{
    width: 100%;
}