.even{
    color: rgb(203, 18, 18);
    text-align: center;
    
}
.ind-head{
    position: relative;
    justify-content: left;
}
.bold{
    font-weight: bold;
    
}
.bold2{
    font-weight: bold;
    position: relative;
    display: flex;
    
    
}

.ind-section{
    border-radius: 20px;
}

.res-acc-body {

    justify-content: center;
    position: relative;
}

.sub-ind-sec1{
    width: 100%;
}


@media (max-width:600px) {
    .sub-ind-sec1{
        position: relative;
        display: flex;
        flex-direction: column;
        
    }
}