.facilities-items{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.facilities-items img{
   width: 10rem;
   height: 10rem;
}
.facility-images{
    display: flex;
    flex-direction: column;
}