.displaybutton201{
    border: 2px solid var(--red);
    background: var(--red);
    color: white;
    width: fit-content;
   border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all .5s;  
}
.nodispbutton201:hover{
    background: var(--yellow);
    width: fit-content;
    padding: 10px;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}
.nodispbutton202:hover{
    background: var(--yellow);
    width: fit-content;
    padding: 10px;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}
.nodispbutton201{
    border: 2px solid var(--red);
    color: var(--red);
    cursor: pointer;
    padding: 10px;
    transition: all .5s;
    border-radius: 10px;
}
.nodispbutton202{
border: 2px solid var(--red);
    color: var(--red);
    cursor: pointer;
    padding: 10px;
    transition: all .5s;
    border-radius: 10px;
}
.displaybutton202{
    border: 2px solid var(--red);
    background:var(--red);
    color: white;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;            
    transition: all .5s;
}
.industry-butt{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}
.displaycontent101{
    display: block;
}
.nodiscontent101{
    display: none;
}
.industry-main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    
}
.industry-cards{
    background-color:var(--yellow);
    height: fit-content;
    width: 1300px;
    margin: auto;
}
.industry-cards2{
    background-color:white;
    height: fit-content;
    width: 1300px;
    margin: auto;
    
}

.industrycards-head{
    display: flex;
    padding: 10px;
    font-size: 28px;
    color: var(--red);
}

.industrycard-content{
    display: flex;
    
    font-size: var(--content1);
    margin-top: 0px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    
}
.industrycard-content ul{
  width: 60%;
    
}
.industrycard-content img{
   width: 40%;
   margin: 0 1rem 1rem 1rem ;
   border-radius: 10px;
    
}
.slide-track img{
    filter: drop-shadow(0px 0px 5px black);

}
.stat{
    margin: auto;
    margin-left: 1rem;
    height: 300px;
    width: 400px;
}

.stat img{
    height: 250px;
    width: 350px;

}