.res-acc-body{
    display: flex;
    position: relative;
    padding:10px 10px;
    
}

.image{
    display: flex;
    position: relative;
    margin: 10px;
    padding: 10px;
    gap: 50px;
    align-content: center;

   
  
}
.info img{
aspect-ratio: 1.2/1;
}

.info{
    position: relative;
    display: flex;
    flex-direction: column;
   width: 500px;

}
.journeyhead{
    position: relative;
    text-align: center;
    margin: 15px;
    color: var(--red);
    font-weight: bold;
    font-size: 24px;
}
.direction{
    position: relative;
    font-size: 18px;
    margin-top: 15px;
}