.res-acc-body{
    display: flex;
    position: relative;
    padding:10px 10px;
    
}

.image{
    display: flex;
    position: relative;
    margin: 10px;
    padding: 10px;
    gap: 50px;
    align-content: center;
    left: 80px;
   
  
}

