@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100;200;300&family=Quicksand:wght@300&display=swap');
:root{
  --Primary: #ffffff;
--content1: 18px;
--content2: 25px;
--head1: 35px;
--head2: 40px;

}

* {
  margin: 0;
  padding: 0;
  --nav-height: 14rem;
  /* color: black !important; */
  font-weight: 600;
  /* font-family: "Inter", sans-serif; */
  font-family: 'Inter', sans-serif;
/* font-family: 'Quicksand', sans-serif; */
font-family: 'Abel', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;
}
.navbar1 {
  position: relative;
  top: 0%;
  z-index: 99;
  width: 100%;
}
.navbar {
  transform: translateY(-1rem);
  transition: all 0.5s ease-in-out;
}
.scroll-active {
  transform: translateY(-14rem);

  transition: all 0.5s ease-in-out;
}
.main-nav {
  padding: 40px;

  width: 100%;
  height: 14rem;
  display: grid;
  grid-template-columns: 8rem 2fr 3fr 3rem;
  background: white;
  /* color: white; */
  /* border: 1px solid; */
}
.dropinactive {
  visibility: visible;
  flex-direction: column;
  /* justify-content: center;  */
  position: fixed;
  background-color: rgb(255, 255, 255);
  left: rem;
  top: 8rem;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0px 2px 10px black;
  padding: 0px;

  height: fit-content;
  width: 13rem;
  transition: all 0.3s;

  opacity: 0;
  /* justify-content: space-evenly;    */
}
.dropinactive div {
  visibility: visible;
  list-style: none;
  position: relative;

  padding: 0px 10px;
  transition: all 0.3s;
  /* justify-content: space-evenly;    */
}
.dropinactive div a {
  text-decoration: none;
  /* justify-content: space-evenly;    */
}

.dropactive {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: rem;

  top: 8rem;
  z-index: 99;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  padding: 0px;
  height: fit-content;
  width: 13rem;
  transition: all 0.3s;
}

.dropactive div {
  list-style: none;
  position: relative;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.3s;
}
.dropactive div a {
  color: #005a9c;
  text-decoration: none;
}
.drpdwn-main{
  /* margin: -5px; */
  margin: -7px 0px;
  /* overflow: hidden; */

}
.drpdwn-btn{
  font-size: var(--content1);
  margin: -28px;
  color: #005a9c;
  text-align: left;

}
.drpdwn-menu{
  


}
.menu-item{
  font-size: var(--content1);}

.dropactive div:hover {
  cursor: pointer;
  background-color: rgb(225, 223, 223);
}
.drpdwn-main :hover {
  visibility: visible;
  background-color: rgb(225, 223, 223);
}

.dropactive1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 9rem;

  top: 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  transition: all 0.5s;
}
.dropinactive1 {
  visibility: hidden;

  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 9rem;

  top: 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  transition: all 0.5s;
}

.logo {
  position: relative;
  /* padding-left: 50px; */

  width: 40rem;
  height: 9rem;
  /* background: transparent; */

  display: flex;

  flex-direction: column;
  align-items: left;
  justify-content: center;
  grid-column: 2/3;
  z-index: +1;
  letter-spacing: 4px;
}

.mems {
  color: #c44536;
  font-size: var(--content2);
    font-weight: 900;
  line-height: 40px;
  /* text-shadow: 0px 2px  5px black;  */
}
.iiti-logo img {
  height: 8rem;
  width:auto;
}
.iiti {
  color: #005a9c;
  line-height: 60px;
  font-size: var(--content1);}

.nav-centre {
  display: flex;
}
.menu-link {
  grid-column: 3/4;
  margin-top: 20px;
}

.menu-link-ul {
  list-style: none;
  text-transform: capitalize;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: #005a9c;
}
.menu-link-ul li {
  list-style: none;
  font-size: var(--content1);
    text-transform: capitalize;
  height: 5rem;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;

  /* color: white; */
}

.menu-link-ul li {
  transition-property: all;
  transition-duration: 0.3s;
  color: #005a9c;
}
.typo {
  font-size: 45px;
  font-weight: 700;
}

.menu-link-ul li a {
  color: #005a9c;

  text-decoration: none;
  /* font-size: larger; */
}

.nav-ham {
  visibility: hidden;
}

@media (max-width: 1300px) {
  .main-nav {
    margin-top: 0;
    width: 100%;
    height: 18rem;
    display: grid;
    grid-template-columns: 5rem 2fr 3fr 5rem;
  }
}

@media (max-width: 988px) {
  .menu-link-ul {
    position: fixed;
  }

  .main-nav {
    width: 100%;
    height: 18rem;
    display: grid;
    grid-template-columns: 3rem 4 fr 3fr 10rem;
  }
}

@media (max-width: 1388px) {
  .menu-link-ul {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    z-index: 3;

    transition: 0.8s ease-in-out;
    transform: translateY(-100vh);
    background: rgba(0, 0, 0, 0.7);
  }
  .menu-link-ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: larger;
  }

  .responsive-nav {
    transform: none;
  }

  .nav-ham {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;

    cursor: pointer;
    z-index: 4;
  }
}
@media (max-width: 600px) {
  .sec {
    display: flex;
    flex-direction: column;
  }
  .sec-img {
    width: 200px;
  }
  .sec-cont {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .navbar1 {
    position: relative;
    top: 0%;
    z-index: 99;
  }
  .main-nav {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
    background: transparent;
    /* color: white; */
    /* border: 1px solid; */
  }
  .iiti-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iiti-logo img {
    height: 4rem;
    width: auto;
  }
  .menu-link-ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    font-weight: 900;
  }
  .menu-link-ul li {

    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    font-weight: 900;
    position: relative;
    left: -1rem;
  }
  .nav-ham {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;

    cursor: pointer;
    z-index: 4;
  }
  .nav-2 {
    display: flex;
    align-items: center;
  }
  .menu-link-ul {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    /* width: 100%; */
    z-index: 3;

    transition: 0.6s ease-in-out;
    transform: translateY(-200vh);
    background: rgba(0, 0, 0, 0.7);
  }
  .responsive-nav {
    transform: none;
  }

  .mems {
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    /* text-shadow: 0px 2px  5px black;  */
  }
  .iiti {
    font-size: 10px;
    line-height: 20px;
  }
  .typo {
    font-size: 20px;
  }
  .main-nav {
    padding: 0px;

    width: 100%;

    display: flex;

    background: transparent;
    /* color: white; */
    /* border: 1px solid; */
  }

  .logo {
    position: relative;
    padding: 5px;

    width: fit-content;
    height: 9rem;
    background: transparent;
    display: flex;

    flex-direction: column;

    /* justify-content: center; */

    z-index: +1;
    letter-spacing: 1px;
  }
  .dropinactive {
    display: flex;
    visibility: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    left: 0rem;
    top: rem;
    z-index: 99;
    border-radius: 0px;
    box-shadow: 0px 0px 0px black;
    padding: 0px;
    margin: -16px;
    transition: all 0.3s;
    height: 0rem;
    width: fit-content;
    opacity: 0;
    /* justify-content: space-evenly;    */
  }
  .dropactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    left: 0rem;
    color: white;
    top: 03rem;
    z-index: 99;
    border-radius: 0%;
    box-shadow: 0px 0px 0px black;
    padding: 0px;
    height: 4rem;
    width: 100%;
    transition: all 0.3s;
  }
  .dropactive div {
    list-style: none;
    position: relative;
    padding: 0px;
    border-radius: 10px;
    transition: all 0.3s;
  }
  .dropactive div a {
    color: rgb(245, 245, 249);
    text-decoration: none;
    font-size: 13px;
  }
  .dropinactive div a {
    color: rgb(245, 245, 249);
    text-decoration: none;
    font-size: 13px;
  }

  .dropactive div:hover {
    background-color: rgba(87, 82, 82, 0);
  }
  .dropactive div a:hover {
    color: rgb(102, 104, 105);
  }
  .dropinactive div {
    visibility: visible;
    list-style: none;
    position: relative;

    padding: 0px 10px;
    transition: all 0.3s;
    /* justify-content: space-evenly;    */
  }
  .dropinactive div a {
    text-decoration: none;
    /* justify-content: space-evenly;    */
  }
  .menu-link-ul li:hover {
    position: relative;
    font-size: x-large;
    /* text-shadow: 0 10px 5px black; */

    /* font-size: x-large ; */
  }
  .navbar1 {
    position: relative;
    top: 0%;
    z-index: 99;
  }
  .navbar {
    transform: none;
    transition: none;
  }
  .scroll-active {
    transform: none;

    transition: none;
  }
  .drpdwn-btn{
    font-size: 13px;
    margin: 0px;
    color: white;
    text-align: none;
  
  }
}
